add_newline = false

format = """
$character$directory\
$git_branch\
$git_status\
"""

right_format = """
$python\
$cmd_duration\
"""

[directory]
style = "bold blue"
truncation_length = 1

[character]
success_symbol = "[➜](purple)"
error_symbol = "[➜](purple)"

[cmd_duration]
format = "[$duration]($style) "
style = "bold yellow"

[git_branch]
format = 'on [$symbol$branch(:$remote_branch)]($style) '
symbol = ' '
style = "bold green"

[python]
format = 'via [${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style) '
style = "bold yellow"
symbol = " "
python_binary = ['./venv/bin/python', 'python', 'python3', 'python2']
